<h1>Dashboard</h1>

<%= link_to "New Post", new_post_path %>

<h3>Recommended Users</h3>
<ul>
  <% @users.each do |user| %>
    <li>
      <img src="<%= user.pic_url %>" alt="User Avatar">
        <%#= render Post.where(name: user.username) %>
        <%= link_to user.username, user %>
        <br><br>
      <% if user.posts.first %>
        <p><%= user.posts.first.message %></p>
        Modified at <%= user.posts.first.updated_at %>, pid: <%= user.posts.first.id %>
      <br><br> 
    <% end %>
    </li>
  <% end %>
</ul>

<h3>Recommended Groups</h3>
<ul>
  <% @groups.each do |group| %>
    <li>
      <img src="<%= group.pic_url %>" alt="Group Avatar">
        <%#= render Post.where(name: group.groupname) %>
        <%= link_to group.groupname, group %>
        <p><%#= group.posts.first.message %></p>
    </li>
  <% end %>
</ul>


