<div style="background:aliceblue; padding: 20px; font-family: system-ui;">

  <h1>Dashboard</h1>

  <% if current_user != nil %>
    <h3>New Public Post</h3>
    <div style="padding: 10px">
      <%= form_for @post do |f| %>
        <div>
          <%= f.text_area :message %>
        </div>
        <div>
          <%= f.hidden_field :groupid, :value => 0 %>
          <%= f.submit "Create Post!" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <h3>Public Posts</h3>
  <div>
<!--    rollback to f4d2fd652db71befefe4db6eec60f992af5af7a6-->
    <% @limited_posts.order("date desc").each do |post| %>
      <% user = @users.find(post.user_id) %>
      <% if(post.updated_at.to_time().today?) %>
        <% time = post.updated_at.to_fs(:time) %>
      <% else %>
        <% time = post.updated_at.to_fs(:long) %>
      <% end %>
      <div style="padding: 10px">
        <img src="<%= @users.find(post.user_id).pic_url %>" alt="User Avatar" style="width:30px;height:30px;border:2px solid white;border-radius:50px">
        <%= link_to user.username, user %>    <%= time %>
        <p style="font-size:large"><%= link_to post.message, post_path(post) %></p>
      </div>
    <% end %>
    <% if(@limited_posts.size < Post.all.size) %>
      <%= link_to "show more...", { action: "show_more_posts" }%>
    <% end %>
  </div>
  

  <h3>Recommended Users</h3>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;overflow: scroll;">
<!--    rollback to f4d2fd652db71befefe4db6eec60f992af5af7a6-->
    <% @rec_users.each do |user| %>
      <div style="padding: 10px;margin: 5px;">
        <img src="<%= user.pic_url %>" alt="User Avatar">
          <%#= render Post.where(name: user.username) %>
          <%= link_to user.username, user %>
          <br><br>
        <% if user.posts.first %>
          <p><%= user.posts.first.message %></p>
          Last active on  <%= user.posts.first.updated_at.to_fs(:long)%>
        <br><br> 
      <% end %>
      </div>
    <% end %>
    <% if(@rec_users.size < @users.size) %>
      <p style="font-size: 150px; margin-left: 20px; margin-right: 20px; text-decoration: none;">
        <%= link_to "+", { action: "show_more_rec_users" }%></p>
    <% end %>
  </div>

  <h3>Recommended Groups</h3>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;overflow: scroll;">
<!--    rollback to f4d2fd652db71befefe4db6eec60f992af5af7a6-->
    <% @rec_groups.each do |group| %>
      <div style="padding: 10px;margin: 5px;">
        <img src="<%= group.pic_url %>" alt="Group Avatar">
        <br><br>
        <%#= render Post.where(name: group.groupname) %>
        <%= link_to group.groupname, group %>
        <p><%#= group.posts.first.message %></p>
      </div>
    <% end %>
    <% if(@rec_groups.size < @groups.size) %>
      <p style="font-size: 150px; margin-left: 20px; margin-right: 20px; text-decoration: none;">
        <%= link_to "+", { action: "show_more_rec_groups" }%></p>
    <% end %>
  </div>

</div>


