<h1>Dashboard</h1>


<% if current_user != nil %>
  <h3>New Public Post</h3>
  <%= form_for @post do |f| %>
    <div>
      <%= f.label :message %><br>
      <%= f.text_area :message %>
    </div>
    <div>
      <%= f.hidden_field :groupid, :value => 0 %>
      <%= f.submit "Submit" %>
    </div>
  <% end %>
<% end %>




<h3>Public Posts</h3>
<% @posts.order("date desc").limit(5).each do |post| %>
  <li>
    <% # user = User.where(id: post.user_id.to_i) %>
    <% #=  link_to user.username, user %>
    <p><%= link_to post.message, post_path(post) %></p>
    Modified at <%= post.updated_at %>, pid: <%= post.id %>
  </li>
<% end %>


<h3>Recommended Users</h3>
<ul>
  <% @users.each do |user| %>
    <li>
      <img src="<%= user.pic_url %>" alt="User Avatar">
        <%#= render Post.where(name: user.username) %>
        <%= link_to user.username, user %>
        <br><br>
      <% if user.posts.first %>
        <p><%= user.posts.first.message %></p>
        Modified at <%= user.posts.first.updated_at %>, pid: <%= user.posts.first.id %>
      <br><br> 
    <% end %>
    </li>
  <% end %>
</ul>

<h3>Recommended Groups</h3>
<ul>
  <% @groups.each do |group| %>
    <li>
      <img src="<%= group.pic_url %>" alt="Group Avatar">
        <%#= render Post.where(name: group.groupname) %>
        <%= link_to group.groupname, group %>
        <p><%#= group.posts.first.message %></p>
    </li>
  <% end %>
</ul>


