<div style="background:aliceblue">
  
  <h1>Dashboard</h1>

  <% if current_user != nil %>
    <h3>New Public Post</h3>
    <div style="background:white">
      <%= form_for @post do |f| %>
        <div>
          <%= f.label :message %><br>
          <%= f.text_area :message %>
        </div>
        <div>
          <%= f.hidden_field :groupid, :value => 0 %>
          <%= f.submit "Create Post!" %>
        </div>
      <% end %>
    </div>
  <% end %>




  <h3>Public Posts</h3>
  <div style="background:white">
    <% @posts.order("date desc").limit(5).each do |post| %>
      <ul>
        <% # user = User.where(id: post.user_id.to_i) %>
        <% #=  link_to user.username, user %>
        <p><%= link_to post.message, post_path(post) %></p>
        Modified at <%= post.updated_at %>, pid: <%= post.id %>
      </ul>
    <% end %>
  </div>


  <h3>Recommended Users</h3>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;overflow: scroll;background:white">
    <% @users.limit(10).each do |user| %>
      <div style="padding: 10px;margin: 5px;">
        <img src="<%= user.pic_url %>" alt="User Avatar">
          <%#= render Post.where(name: user.username) %>
          <%= link_to user.username, user %>
          <br><br>
        <% if user.posts.first %>
          <p><%= user.posts.first.message %></p>
          Modified at <%= user.posts.first.updated_at %>, pid: <%= user.posts.first.id %>
        <br><br> 
      <% end %>
      </div>
    <% end %>
  </div>

  <h3>Recommended Groups</h3>
  <div style="display:flex;flex-direction:row;flex-wrap:nowrap;overflow: scroll;background:white">
    <% @groups.limit(3).each do |group| %>
      <div style="padding: 10px;margin: 5px;">
        <img src="<%= group.pic_url %>" alt="Group Avatar">
        <br><br>
        <%#= render Post.where(name: group.groupname) %>
        <%= link_to group.groupname, group %>
        <p><%#= group.posts.first.message %></p>
      </div>
    <% end %>
  </div>

</div>


