<h1>Manage members of group <%= @group.groupname %>></h1>

<h2>User Lists</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
      <% if group_contains_user?(@group, user) %>
        <%= link_to "-", "/addtogroup?uid=#{user.id}&gid=#{@group.id}", class: "btn btn-lg btn-primary" %>
      <% else %>
        <%= link_to "+", "/delfromgroup?uid=#{user.id}&gid=#{@group.id}", class: "btn btn-lg btn-primary" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New Group", new_group_path %>