<h1>Group Name: <%= @group.groupname %></h1>

<img src="<%=@group.pic_url %>" alt="Group picture">

<h2>Users in Group</h2>
<ul>
  <% @group_user.each do |g_u| %>
    <li>
    <%#= g_u.user.username %>
    <%= link_to g_u.user.username, g_u.user %>
    </li>
  <% end %>
</ul>

<h2>Group Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
    <%= link_to post.message, post_path(post) %>
    </li>
  <% end %>
</ul>
<h2>New Group Post</h2>
<%= form_for @post do |f| %>
  <div>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div>
    <%= f.hidden_field :groupid, :value => @group.id %>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<h2>Other Actions</h2>
<ul>
  <li><%= link_to "Edit Group", edit_group_path(@group) %></li>
  <li><%= link_to "Delete Group", group_path(@group), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure? All users in the group will be unaffiliated with the group. All group posts will be deleted."
                  } %></li>
  <li><%= link_to "All Groups", groups_path %></li>
</ul>