<h1><%= @user.Username %></h1>
Joined in <%= @user.created_at %>, uid: <%= @user.id %><br>

<%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Destroy", user_path(@user), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure? Once the profile is deleted, the posts affiliated to this user will also be deleted!"
} %><br>

<h2>About me</h2>
<p><%= @user.About %></p>
Last Modify at <%= @user.updated_at %>

<h2>New Post</h2>
<%= link_to "Create New Post", new_post_path %>

<h2>Posts</h2>
<%= render(@posts) || "This user doesn't have any post. " %>
