<div class="col-sm-8">
  <h2><%= @user.username %></h2>
  <h4>Email: <%= @user.email %></h4>
  Joined in <%= @user.created_at %>, uid: <%= @user.id %><br>

  <h4>About me:</h4>
  <p><%= @user.about %></p>
  <br>
  <h4>My groups:</h4>
  <ul>
    <% @groupusers.each do |gu| %>
      <% group = Group.find(gu.group_id) %>
      <li><%= link_to group.groupname, group_path(group) %></li>
    <% end %>
  </ul>
  <br>
  <% if @user.id == current_user.id %>
    <%= link_to "<button class='btn btn-primary'>Edit Profile</button>".html_safe, edit_user_path(@user)%>
    <%= link_to "<button class='btn btn-primary'>Delete Profile</button>".html_safe, user_path(@user), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure? Once the profile is deleted, the posts affiliated to this user will also be deleted!"
    } %>
  <% end %>
  <br> 
  Last Modify at <%= @user.updated_at %>

</div>

<div class="col-sm-4">
  <img src="<%=@user.pic_url %>" alt="User Avatar" width="400">
</div>


<%#= 
<h2>New Post</h2>
 link_to "Create New Post", new_post_path 

<h2>Posts</h2>
render(@posts) || "This user doesn't have any post. " %>