<p>
  <strong>Author:</strong>
  <%= link_to post.Username, User.find_by(Username: post.Username) %>
  <strong>Posted at:</strong>
  <%= post.created_at %>
</p>

<p>
  <%= link_to "Post:", post_path(post) %>
  <%= post.Message %>
</p>


<p>
  <%= link_to "Comments", post %> | <%= link_to "Delete Post", post, data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure? Comments affiliated to this post will also be deleted!"
} %>
</p>