<p>
  <strong>Posted at:</strong>
  <%= post.created_at %>
</p>

<p>
  <%= link_to "Post:", post_path(post) %>
  <%= post.message %> <br>
  posted by: <%= post.user_id %>
</p>


<ul>
  <% post.comments.each do |comment| %>
    <li>
      <p>
        <strong>Commenter:</strong>
        <%= comment.user_id %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= comment.comment %> <font size=1>(<%= comment.updated_at %>)</font>
      </p>
    </li>
  <% end %>
</ul>

<br/>