<h1>Post Detail</h1>

<strong>Author: <%= @user.username %></strong>
<h2>Message</h2>
<p><%= @post.message %></p>

<% if current_user.id == @post.user_id %>
  <br>
  <%= link_to "<button class='btn btn-primary'>Edit Post</button>".html_safe, edit_post_path(@post)%>
  <br>
<% end %>
Modified at <%= @post.updated_at %>, pid: <%= @post.id %><br>

<h2>Comments</h2>
<%= render @post.comments.order("date desc") %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>
