<h1>Post Detail</h1>

<strong>Author: <%= @user.username %></strong>
<h2>Message</h2>
<p><%= @post.message %></p>

<% if current_user.id == @post.user_id %>
  <br>
  <%= link_to "<button class='btn btn-primary'>Edit Post</button>".html_safe, edit_post_path(@post)%>
  <br>
<% end %>
Modified at <%= @post.updated_at %>, pid: <%= @post.id %><br>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    Comment:
    <%= comment.comment %>
  </p>
<% end %>

<h4>Add a comment:</h4>
<%= form_with model: [@post, @post.comments.build] do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
