<!DOCTYPE html>
<html>
  <head>
    <title>Hydra</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "User",   users_path %></li>
            <li><%= link_to "Group",  groups_path %></li>
            <li><%= link_to "Post",  posts_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   '#' %></li>
            <% if logged_in? %>
              <li><%= link_to session[:user_name], "/users/#{session[:user_id]}" %></li>
              <li><%= link_to "Log out", logout_path %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
