<!DOCTYPE html>
<html>
  <head>
    <title>Hydra</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
          <% if logged_in? %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
          <% end %>
            <li><%= link_to "Users",   users_path %></li>
            <li><%= link_to "Posts",  posts_path %></li>
            <li><%= link_to "Groups",  groups_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_url %></li>
            <% if logged_in? %>
              <li><%= link_to session[:user_name], "/users/#{session[:user_id]}" %></li>
              <li><%= link_to session[:status].capitalize, "#" %></li>
              <li><%= link_to "Log out", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
